

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

    
.calendar {
    position: relative;
    display: flex;
    align-items: center;
    margin: 50px 0;
    height: 735px;        

    &__wrapper {
        display: block;
        background: rgb(228, 228, 228);
        width: 600px;
        padding: 0 10px;
        height: 720px;
        border-left: 1px solid rgb(209, 209, 209);

        .event {
            position: relative;
            background: white;
            min-height: 1px;
            border: 1px solid rgb(219, 219, 219);
            border-left: 4px solid lightseagreen;


            &__group {
                position: relative;
                display: flex;
                // background: rgba(240, 128, 128, 0.644);

                div {
                    flex: 1;
                }
            }

            &__title {
                position: relative;
                left: 4px;
                font-size: 0.71em;
                font-weight: 600;
                color: lightseagreen;
            }
            
            &__description {
                position: relative;
                left: 4px;
                color: rgb(182, 182, 182);
                margin-top: 0;
                font-size: 0.6em;
            }
        }
    }


    &__timeline {
        height: 100%;
        left: -10%;
        top: 0;
        display: flex;
        flex-flow: column;
        justify-content: space-between;;
        align-items: flex-end;
        font-size: 0.8em;
        font-weight: bold;
        margin-right: 10px;

        small {
            margin-left: 5px;                
            font-weight: 100;
            color: rgb(145, 145, 145);

            &:nth-of-type(even) {
                font-weight: 100;
            }
        }

        label:nth-of-type(even) {
            font-size: 0.7rem;
            font-weight: 100;
            color: rgb(145, 145, 145);
        }
    }
}