body {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.calendar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 0;
  height: 735px;
}

.calendar__wrapper {
  display: block;
  background: #e4e4e4;
  width: 600px;
  padding: 0 10px;
  height: 720px;
  border-left: 1px solid #d1d1d1;
}

.calendar__wrapper .event {
  position: relative;
  background: white;
  min-height: 1px;
  border: 1px solid #dbdbdb;
  border-left: 4px solid lightseagreen;
}

.calendar__wrapper .event__group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.calendar__wrapper .event__group div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.calendar__wrapper .event__title {
  position: relative;
  left: 4px;
  font-size: 0.71em;
  font-weight: 600;
  color: lightseagreen;
}

.calendar__wrapper .event__description {
  position: relative;
  left: 4px;
  color: #b6b6b6;
  margin-top: 0;
  font-size: 0.6em;
}

.calendar__timeline {
  height: 100%;
  left: -10%;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 0.8em;
  font-weight: bold;
  margin-right: 10px;
}

.calendar__timeline small {
  margin-left: 5px;
  font-weight: 100;
  color: #919191;
}

.calendar__timeline small:nth-of-type(even) {
  font-weight: 100;
}

.calendar__timeline label:nth-of-type(even) {
  font-size: 0.7rem;
  font-weight: 100;
  color: #919191;
}
/*# sourceMappingURL=style.css.map */